<%- include('blocks/topBlock', {title: 'Home'}, logout = true) -%>

<div class="pageHeader">
    <p>Users:</p>
    <a href="">>> Conversations >></a>
    <a href="">>> Settings >></a>
</div>

<div class="userList">    
    <% userList.map(item => { %>
        <a href=""><%= item %></a><br>
    <% }) %>    
</div>
 
<%- include('blocks/bottomBlock') -%>