<%- include('blocks/topBlock', {title: 'Home', status_msg: 'Logged in'}) -%>

<div class="pageHeader">
    <a href="">Conversations</a>
    <a href="">Settings</a>
    <a href="">Log out</a>
</div>
 
<%- include('blocks/bottomBlock') -%>